body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1e5799, #2989d8, #207cca, #7db9e8);
    color: white;
}
.gameContainer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

canvas {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
#controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
#skinSelector {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5ba9e4;
    color: white;
    font-size: 16px;
    width: 170px;
    
}
#connectWalletBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #0675eb;
    border:oklch(from color l c h);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}



#connectWalletBtn:hover {
    background-color: #ffffff;
    top: 15px;
    right: 15px;
    padding: 15px 25px;
    transition: 0.2s;
}

#score {
    font-size: 24px;
    font-weight: bold;
}

#scoreDiv {
    margin: auto;
}

#h3 {
    text-align: center;
}

#h1 {
    text-align: center;
}