.game{
    width: 500px;
    height: 150px;
    border: 2px solid #000000;
    margin: auto;
    overflow-x: hidden;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 75px;}
    30%{top: 20px;}
    70%{top: 20px;}
    100%{top: 75px;}
}

#block{
    background-color: blue;
    width: 20px; 
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
    
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
.wrapper {
    text-align: center; /* Center content inside the wrapper horizontally */
    margin-top: 20px; /* Optional: Add some spacing above the content */
}

.skin_select{
    padding: 10;
    margin: 10;
}

#connectWalletBtn, #disconnectWalletBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mySvg{
    top: 75px;
    display:block;
    position: relative;
    padding-left: 20px;
}